:root {
  --matcha-primary: #d1f0b1;
  --matcha-light: #daf3c1;
  --matcha-dark: #a7c08e;
  --celadon-primary: #b6cb9e;
  --celadon-light: #c5d5b1;
  --celadon-dark: #92a27e;
  --cambridge-primary: #92b4a7;
  --cambridge-light: #a8c3b9;
  --cambridge-dark: #759086;
}

* {
  font-family: "Playpen Sans", cursive;
  color: var(--matcha-primary);
}

body {
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--celadon-primary);
}

.buttons {
  width: 100%;
  margin: 24px;
  gap: 24px;
  display: flex;
  justify-content: center;
  gap: 48px;
}

.buttons > button {
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  background-color: var(--cambridge-primary);
  height: 50px;
  width: 120px;
  box-shadow: 0px 4px 0px 0px var(--cambridge-dark);
  transition: all 0.1s ease-in-out;
}

.buttons > button:hover {
  color: var(--matcha-light);
  box-shadow: 0px 3px 0px 0px var(--cambridge-dark);
  transform: translateY(1px);
}

.buttons > button:active {
  color: var(--matcha-light);
  box-shadow: 0px 0px 0px 0px var(--cambridge-dark);
  transform: translateY(4px);
}

#content {
  padding: 24px;
  min-height: 100vh;
  width: 70vw;
  background-color: var(--cambridge-dark);
  box-shadow: 0px 0px 8px 4px var(--celadon-dark);
  border-left: var(--celadon-dark) 2px solid;
  border-right: var(--celadon-dark) 2px solid;
}

/* HOME TAB */

.home-content > img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 350px;
  border: solid 2px var(--matcha-light);
  border-radius: 2px;
}

.home-content > p {
  text-align: justify;
}

/* MENU TAB */

.menu-content div {
  display: grid;
  grid-template-areas:
    "image title price"
    "image description description";
  grid-template-columns: auto 1fr auto;
  gap: 24px;
  margin: 24px;
}

.menu-content img {
  height: 250px;
  width: 250px;
  border: 2px solid var(--matcha-light);
  border-radius: 15%;
  box-shadow: 0px 0px 4px 0px var(--matcha-light);
  grid-area: image;
}

.menu-content h1 {
  grid-area: title;
  margin: 0;
  place-self: center start;
}

.menu-content h2 {
  grid-area: price;
  margin: 0;
  place-self: center end;
}

.menu-content p {
  grid-area: description;
  text-align: justify;
  margin: 0;
  place-self: start;
}

/* CONTACT TAB */

.contact-content {
  display: grid;
  grid-template-areas:
    "image location"
    "schedule information";
  grid-template-columns: 1fr auto;
  gap: 24px;
}

.contact-content img {
  place-self: center end;
  grid-area: image;
  height: 600px;
  width: auto;
}

.contact-content .location {
  height: 100%;
  grid-area: location;
  justify-self: center;
  text-align: justify;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact-content .schedule {
  grid-area: schedule;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.schedule h2 {
  margin: 0;
}

.schedule span {
  font-weight: 700;
}

.schedule p {
  display: inline;
  margin: 0;
}

.schedule ul {
  padding: 0;
  margin: 0;
}

.schedule li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.contact-content .information {
  grid-area: information;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.information p {
  display: inline;
  margin: 0;
}

.information h2 {
  margin: 0;
}

.information span {
  font-weight: 700;
}

.information ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.information li {
  list-style: none;
}
